<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Drink tonight?</h1>
    <p class="lead">Where to drink?</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <form class="" ng-submit="searchBars()">
        <div class="form-group col-xs-10">
          <input class="form-control" placeholder="Where are you?" ng-model="location">
        </div>
        <button class="btn btn-default col-xs-2" type="submit">go</button>
      </form>

      <ul class="nav nav-stacked col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <li ng-repeat="bar in bars">
          <img class="img-rounded" ng-src="{{bar.image_url}}">
          <div class="info">
            <div class="info-top">
              <a ng-href="{{bar.url}}"> {{bar.name}} </a>
              <a class="btn btn-default btn-xs going ng-binding" ng-click="going(bar)">{{bar.attending.length}} Going</a>
            </div>
            <p class="snippet">{{bar.snippet_text}}</p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.1.1 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
